body {
    background-image: url('afc4e1e2-6461-441a-b0dc-225058190e2e.webp'); /* URL de l'image de fond */
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Belleza', sans-serif;
    color: #f0f4f8; /* Couleur de texte pour la lisibilité */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffffff; /* Couleur blanche pour le titre */
    text-align: center;
    margin-bottom: 40px; /* Espacement sous le titre */
}

h2 {
    text-align: center;
    margin-bottom: 20px; /* Espacement sous le titre */
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: -10px;
}

.card {
    flex-basis: calc(100% / 6 - 20px); /* Ajuste la base pour 4 cartes avec un peu d'espace */
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.7); /* Arrière-plan semi-transparent */
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Légère animation au survol */
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2, .card p {
    color: #ffffff; /* Texte blanc pour la lisibilité */
    text-align: center;
}

.card h2 {
    font-size: 20px;
    margin: 10px 0;
}

.card p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #49fb35; /* Couleur vive pour les liens */
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .card {
        flex-basis: calc(50% - 40px); /* 2 cartes par ligne sur les écrans plus petits */
    }
}

/* Style de base pour la barre de navigation */
nav {
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}
nav {
}

/* Style pour les éléments de liste dans la barre de navigation */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


/* Style pour les liens dans la barre de navigation */
nav ul li {
    float: left;
    margin: 0 10px;
}


nav ul li a {
    display: block;
    color: white; /* Couleur du texte des liens */
    text-align: center;
    padding: 14px 16px; /* Espacement autour du texte */
    text-decoration: none;
    font-family: 'Cinzel', serif;
    transition: color 0.3s ease;
    border-radius: 10px; /* Pour arrondir les coins */
    transition: all 0.3s ease; /* Transition douce pour le style de survol */
}


nav ul li a i {
    margin-right: 8px;
}


/* Changer la couleur des liens au survol */
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Ajoute un fond légèrement blanc pour le survol */
    color: #f8c555; /* Or gold pour le survol */
    border-radius: 10px; /* S'assurer que les bords arrondis restent cohérents */
    padding: 14px 16px; /* Ajouter ou ajuster le padding si nécessaire pour l'effet de survol */
}

/* Style pour l'icône de la maison (home) */
nav ul li a img {
    vertical-align: middle;
    margin-right: 8px;
}

/* Clear floats after the nav */
nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive navigation menu - stacking links under each other on smaller screens */
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
    }
}

h1, h2, h3, .menu {
    font-family: 'Cinzel', serif;
}

.body-text {
    font-family: 'Belleza', sans-serif;
}

.card-name, .card-details {
    font-family: 'MedievalSharp', cursive;
}


/* Bouton flèche en bas de page */

#myBtn {
    display: none; /* Bouton caché par défaut */
    position: fixed; /* Positionné par rapport à la fenêtre d'affichage */
    bottom: 20px; /* 20px du bas */
    right: 30px; /* 30px de la droite */
    z-index: 99; /* S'assure qu'il reste au-dessus des autres éléments */
    border: none; /* Pas de bordure */
    outline: none; /* Pas de contour lors de la sélection */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent noir */
    color: white; /* Couleur du texte (pour l'icône) */
    cursor: pointer; /* Style du curseur */
    padding: 15px; /* Espacement interne */
    border-radius: 50%; /* Rond */
    font-size: 18px; /* Taille de l'icône */
}

#myBtn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Fond un peu plus opaque au survol */
}
